.tasks {
  background: $violet2;
  margin: 20% auto;
  width: 80%;

  .container {
    @include childCenter;

    .addTasks {
      display: flex;
      width: 100%;
      padding: 0 72px;

      input {
        transform: translateX(-50%, -50%);
      }

      button {
        background: $violet;
        color: $white;
        width: 40%;
        padding: 6px 2px;
        cursor: pointer;
      }
    }

    h2 {
      text-align: center;
      margin: 20px 12px;
      color: $white;
      font-family: sans-serif;
      font-size: 2rem;
    }
  }
}